.keyboard {
    border: 1px;
    padding: 5px;
    border-radius: 4px;
    position:relative; 
    /* left:25%; */
    /* margin: 29%; */
    /* margin-left:-100px; */
}

.keys{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.line::after{
    content: "";
    display: block;
    clear: both;
}

.key{
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid slategrey;
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-transform: uppercase;
}

.fl_invisible{
    width: 40px;
}

.fr_invisible{
    width: 4px;
}

.s_invisible{
    width: 50px;
}


.t_invisible{
    width: 78px;
}


.l_invisible{
    width: 200px;
}


.space{
    width: 300px;
}

.invisible{
    border: 1px;
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

.textLine{
    color: black;
    font-family: monospace;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px solid orange;
    animation: flashing-border 0.75s step-end infinite;
}

@keyframes flashing-border{
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}