*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(51, 51, 51);
}

.keyboard {
    border: 1px;
    padding: 5px;
    border-radius: 4px;
    position:relative; 
    /* left:25%; */
    /* margin: 29%; */
    /* margin-left:-100px; */
}

.keys{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.line::after{
    content: "";
    display: block;
    clear: both;
}

.key{
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(101,101,101);
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-transform: uppercase;
    color: rgb(101,101,101);
}

.fl_invisible{
    width: 40px;
}

.fr_invisible{
    width: 4px;
}

.s_invisible{
    width: 50px;
}


.t_invisible{
    width: 78px;
}


.l_invisible{
    width: 200px;
}


.lng-space{
    width: 300px;
}

.invisible{
    border: 1px;
}

letter{
    float: left;
    border-left: 4px solid rgb(51, 51, 51);
}

.wrapper{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    padding-bottom: 10%;
    height: 50px;
}

.textLine{
    color: rgb(101,101,101);
    font-family: monospace;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    box-sizing: content-box;
    max-width: 20em;
    /* position: relative; */
    /* text-overflow: ellipsis; */
    /* position: absolute; */
    /* border-right: 4px solid orange;
    animation: flashing-border 0.75s step-end infinite; */
}

.active{
    border-left: 4px solid orange;
    animation: flashing-border 0.75s step-end infinite;
}

@keyframes flashing-border{
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}

.correct{
    color:white;
}

.incorrect{
    color:rgba(255, 0, 0, 0.651);
}

.invisibleSpace{
    color:rgb(51, 51, 51);
}

.c-hamburger{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 96px;
    height: 96px;
    font-size: 0;
    box-shadow: none;
    cursor: pointer;
    border:none;
    background:rgb(51, 51, 51);
    transition: all ease 1s;
}

.c-hamburger:focus{
    outline: none;
}

.c-hamburger span{
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: rgb(101,101,101);
    border-radius: 7px;
}

.c-hamburger span::before, .c-hamburger span::after{
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background: rgb(101,101,101);
    content: "";
    border-radius: 7px;
}

.c-hamburger span::before{
    top: -20px;
}

.c-hamburger span::after{
    bottom: -20px;
}

.c-hamburger-line{
    background:rgb(51, 51, 51);
}

.c-hamburger-line span{
    transition: background 0s 0.3s;
}

.c-hamburger-line span::before, .c-hamburger-line span::after{
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.c-hamburger-line span::before{
    transition-property: top, transform;
}

.c-hamburger-line span::after{
    transition-property: bottom, transform;
}

.c-hamburger.is-active{
    right: 0;
    left: 204px;
    transition: all ease 1s;
}

/* .c-hamburger-line.is-active{
    background: rgb(51, 51, 51);
} */

.c-hamburger-line.is-active span{
    background: none;
}

.c-hamburger-line.is-active span::before{
    top:0;
    transform: rotate(-45deg);
}

.c-hamburger-line.is-active span::after{
    bottom:0;
    transform: rotate(45deg);
}

.c-hamburger-line.is-active span::before, .c-hamburger-line.is-active span::after{
    transition-delay: 0s, 0.3s;
}

#menu{
    width: 300px;
    margin-right: -204px;
    background: rgb(51, 51, 51);
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease 1s;
    z-index: 9999;
}

#menu.nav-active{
    margin-right: 0;
}

.burger-menu__nav{
    padding-top: 96px;
    padding-left: 96px;
    position: fixed;
    z-index: -1;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: auto;
}

.burger-menu__nav div{
    border: 1px solid rgb(101,101,101);
    width: 204px;
    text-align: center;
    padding: 20px 0;
    margin: 10px 0;
    color: white;
}