body{
    background-color: rgb(51, 51, 51);
}

.keyboard {
    border: 1px;
    padding: 5px;
    border-radius: 4px;
    position:relative; 
    /* left:25%; */
    /* margin: 29%; */
    /* margin-left:-100px; */
}

.keys{
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

.line::after{
    content: "";
    display: block;
    clear: both;
}

.key{
    float: left;
    height: 40px;
    width: 40px;
    border: 1px solid rgb(101,101,101);
    border-radius: 4px;
    margin: 3px;
    padding: 4px;
    text-transform: uppercase;
    color: rgb(101,101,101);
}

.fl_invisible{
    width: 40px;
}

.fr_invisible{
    width: 4px;
}

.s_invisible{
    width: 50px;
}


.t_invisible{
    width: 78px;
}


.l_invisible{
    width: 200px;
}


.lng-space{
    width: 300px;
}

.invisible{
    border: 1px;
}

letter{
    float: left;
    border-left: 4px solid rgb(51, 51, 51);
}

.wrapper{
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 10%;
}

.textLine{
    color: rgb(101,101,101);
    font-family: monospace;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    position: fixed;
    box-sizing: content-box;
    max-width: 20em;
    /* position: relative; */
    /* text-overflow: ellipsis; */
    /* position: absolute; */
    /* border-right: 4px solid orange;
    animation: flashing-border 0.75s step-end infinite; */
}

.active{
    border-left: 4px solid orange;
    animation: flashing-border 0.75s step-end infinite;
}

@keyframes flashing-border{
    0%{
        border-color: orange;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: orange;
    }
}

.correct{
    color:white;
}

.incorrect{
    color:rgba(255, 0, 0, 0.651);
}

.invisibleSpace{
    color:rgb(51, 51, 51);
}
